<div class="card padding-p">
  <div>
    <p>
      <h2><%= @view.food.name %></h2>
    </p>
    <table class="margin-bottom">
      <% unless @view.food.calories.nil? %>
        <tr>
          <td>
            <strong>Calories:</strong>
          </td>
          <td>
            <%= @view.food.calories %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.carbohydrate.nil? %>
        <tr>
          <td>
            <strong>Carbohydrate:</strong>
          </td>
          <td>
            <%= @view.food.carbohydrate %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.fiber.nil? %>
        <tr>
          <td>
            <strong>Fiber:</strong>
          </td>
          <td>
            <%= @view.food.fiber %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.fat.nil? %>
        <tr>
          <td>
            <strong>Fat:</strong>
          </td>
          <td>
            <%= @view.food.fat %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.cholesterol.nil? %>
        <tr>
          <td>
            <strong>Cholesterol:</strong>
          </td>
          <td>
            <%= @view.food.cholesterol %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.protein.nil? %>
        <tr>
          <td>
            <strong>Protein:</strong>
          </td>
          <td>
            <%= @view.food.protein %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.alcohol.nil? %>
        <tr>
          <td>
            <strong>Alcohol:</strong>
          </td>
          <td>
            <%= @view.food.alcohol %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.caffeine.nil? %>
        <tr>
          <td>
            <strong>Caffeine:</strong>
          </td>
          <td>
            <%= @view.food.caffeine %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_a.nil? %>
        <tr>
          <td>
            <strong>Vitamin a:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_a %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b1.nil? %>
        <tr>
          <td>
            <strong>Vitamin b1:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b1 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b2.nil? %>
        <tr>
          <td>
            <strong>Vitamin b2:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b2 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b3.nil? %>
        <tr>
          <td>
            <strong>Vitamin b3:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b3 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b6.nil? %>
        <tr>
          <td>
            <strong>Vitamin b6:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b6 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b7.nil? %>
        <tr>
          <td>
            <strong>Vitamin b7:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b7 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b9.nil? %>
        <tr>
          <td>
            <strong>Vitamin b9:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b9 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_b12.nil? %>
        <tr>
          <td>
            <strong>Vitamin b12:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_b12 %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_c.nil? %>
        <tr>
          <td>
            <strong>Vitamin c:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_c %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_d.nil? %>
        <tr>
          <td>
            <strong>Vitamin d:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_d %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_e.nil? %>
        <tr>
          <td>
            <strong>Vitamin e:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_e %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.vitamin_k.nil? %>
        <tr>
          <td>
            <strong>Vitamin k:</strong>
          </td>
          <td>
            <%= @view.food.vitamin_k %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.betaine.nil? %>
        <tr>
          <td>
            <strong>Betaine:</strong>
          </td>
          <td>
            <%= @view.food.betaine %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.choline.nil? %>
        <tr>
          <td>
            <strong>Choline:</strong>
          </td>
          <td>
            <%= @view.food.choline %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.calcium.nil? %>
        <tr>
          <td>
            <strong>Calcium:</strong>
          </td>
          <td>
            <%= @view.food.calcium %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.copper.nil? %>
        <tr>
          <td>
            <strong>Copper:</strong>
          </td>
          <td>
            <%= @view.food.copper %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.selenium.nil? %>
        <tr>
          <td>
            <strong>Selenium:</strong>
          </td>
          <td>
            <%= @view.food.selenium %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.fluoride.nil? %>
        <tr>
          <td>
            <strong>Fluoride:</strong>
          </td>
          <td>
            <%= @view.food.fluoride %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.iron.nil? %>
        <tr>
          <td>
            <strong>Iron:</strong>
          </td>
          <td>
            <%= @view.food.iron %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.manganese.nil? %>
        <tr>
          <td>
            <strong>Manganese:</strong>
          </td>
          <td>
            <%= @view.food.manganese %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.magnesium.nil? %>
        <tr>
          <td>
            <strong>Magnesium:</strong>
          </td>
          <td>
            <%= @view.food.magnesium %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.phosphorus.nil? %>
        <tr>
          <td>
            <strong>Phosphorus:</strong>
          </td>
          <td>
            <%= @view.food.phosphorus %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.potassium.nil? %>
        <tr>
          <td>
            <strong>Potassium:</strong>
          </td>
          <td>
            <%= @view.food.potassium %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.sodium.nil? %>
        <tr>
          <td>
            <strong>Sodium:</strong>
          </td>
          <td>
            <%= @view.food.sodium %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.zinc.nil? %>
        <tr>
          <td>
            <strong>Zinc:</strong>
          </td>
          <td>
            <%= @view.food.zinc %>
          </td>
        </tr>
      <% end %>
      <% unless @view.food.water.nil? %>
        <tr>
          <td>
            <strong>Water:</strong>
          </td>
          <td>
            <%= @view.food.water %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>
<div>
  <a href="<%= routes[:foods] %>"> Back to foods </a>
  |
  edit this food
  <br/>
  <br/>
  <i class='fa-solid fa-trash'></i>
</div>
